/*-----------------------------
    google font "Lato"
-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*-----------------------------
    Body
-------------------------------*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
/*-----------------------------
    custom css
-------------------------------*/
:root{
    --mainDark: #003844;
    --mainWhite: #ffffff;
    --mainCyan: #00b8ae;
    --mainGray: #8d99ae;
}
/*-----------------------------
    Global colors
-------------------------------*/
.text-white{
    color: var(--mainWhite);
}
.text-gray{
    color: #8d99ae;
}
.bg-dark{
    background: var(--mainDark)!important;
}
.bg-cyan{
    background: var(--mainCyan);
}
.bg-gray{
    background: var(--mainGray);
}
.bg-white{
    background: var(--mainWhite);
}
/*-----------------------------
    Typography
-------------------------------*/
h1,h2,h3,h4,h5{
    font-weight: 300;
}
h1{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 1px;
    padding-bottom: 8px;
    color: var(--mainWhite);
    text-transform: uppercase;
}
h2{
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    color: var(--mainWhite);
    text-transform: uppercase;
}
h3{
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--mainWhite);
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
} 
h4{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--mainWhite);
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 0px;
} 
h5{
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--mainWhite);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
h6{
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--mainWhite);
    letter-spacing: 1px;
    text-transform: none;
    margin-bottom: 0px;
}
p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 34px;
    margin-bottom: 0px;
    color: var(--mainGray);
}
a{
    text-decoration: none;
    color: var(--mainWhite);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
ul{
    list-style: none;
    margin-bottom: 0px;
}
span{
    color: var(--mainGray);
    letter-spacing: 1px;
    line-height: 34px;
    text-transform: capitalize;
}
img{
    width: 100%;
}
.img-thumbnail {
    border: 0;
    background: var(--mainCyan);
}
h1 span{
    color: var(--mainWhite);
}
strong{
    font-weight: bold;
    font-size: 1.2rem;
}
.progress{
    height: 0.8rem;
    border-radius: 0px;
}
.table{
    text-transform: capitalize;
    color: var(--mainWhite);
    margin: 1rem 0rem 2rem 0rem;
}
.table td{
    padding: 0.4rem;
    font-weight: 300;
}
.table th{
    color: var(--mainGray);
    padding: 0.4rem;
    font-weight: 300;
}
.hide{
    display: none;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 4px solid var(--mainCyan);
    border-radius: .25rem;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-----------------------------
    Button
-------------------------------*/
.btn-design{
    color: var(--mainWhite);
    cursor: pointer;
    border: 3px solid var(--mainCyan);
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.btn-design:hover{
    color: var(--mainWhite);
    background: var(--mainCyan);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.95);
}
/*-----------------------------
    text underline
-------------------------------*/
.text-underline{
    border-bottom: 3px solid var(--mainCyan);
    position: relative;
    bottom: 0;
    right: 0;
}
/*-----------------------------
    Navigation bar
-------------------------------*/
.fixed-top.scrolled {
    background-color: var(--mainDark) !important;
    transition: all 1s ease-in-out;
  }
.navbar ul li a{
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.navbar ul li a span{
    position: relative;
    display: block;
    padding-bottom: 2px;
    color: var(--mainWhite);
}
.navbar ul li a span::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--mainCyan);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-nav li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
.navbar-nav li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: var(--mainCyan);
}
.navbar-brand{
    font-size: 1.2rem;
}
/*-----------------------------
    Banner
-------------------------------*/
.banner{
    background: linear-gradient(to right, rgba(0,56,68,.95),rgba(0,56,68,.95)),url(../img/background.jpg)center/cover no-repeat fixed;;
    min-height: calc(100vh);
    padding: 100px 0px;
}
.banner-img{
    width: 80%;
    margin: 0 auto;
}
.banner-img .img-thumbnail{
    border-radius: 50%;
}
/*-----------------------------
    About
-------------------------------*/
.about{
    padding: 100px 0px;
}
.left-border{
    border-left: 1px solid var(--mainCyan);
    position: relative;
}
.icon i{
    color: var(--mainWhite);
    background: var(--mainCyan);
    padding: 15px;
    border-radius: 50%;
    margin-right: 1rem;
    position: absolute;
    left: -23px;
    top: 0px;
    z-index: 1;
}
.client-img{
    width: 70px;
}
.client-say p i{
    color: var(--mainCyan);
}
.client span{
    font-size: 0.8rem;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}
/*-----------------------------
    portfolio
-------------------------------*/
.portfolio{
    padding: 100px 0px;
}
.single-item{
    transition: all 0.3 linear;
}
.single-item:hover{
    box-shadow: 0 10px 15px rgb(0, 0, 0);
}
.img-container{
    cursor: pointer;
    overflow: hidden;
}
.portfolio-img{
    transition: all 1s ease-in-out;
}
.img-container:hover .portfolio-img{
    transform: scale(1.2);
}
.portfolio-info a{
    text-transform: none;
}
.portfolio-info a:hover{
    text-transform: none;
    color: var(--mainWhite);
}
/*-----------------------------
    blog
-------------------------------*/
.blog{
    padding: 100px 0px;
}
.blog a{
    text-transform: none;
}
.blog a:hover{
    text-transform: none;
    color: var(--mainWhite);
}
.blog-info i{
    color: var(--mainCyan);
    margin-right: 10px;
}
.blog-info span{
    padding: 20px 25px 20px 0px;
    margin-bottom: 8px;
}
.page-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 10px;
    line-height: 1.25;
    color: var(--mainWhite);
    background-color: transparent;
    border: 1px solid var(--mainCyan);
    border-radius: 50%;
    transition: all 1s ease-in-out;
}
.page-link:hover {
    z-index: 2;
    color: var(--mainWhite);
    text-decoration: none;
    background-color: var(--mainCyan);
    border-color: var(--mainWhite);
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 50%;
}
/*-----------------------------
    contact
-------------------------------*/
.contact{
    padding: 100px 0px;
}
.contact-info i{
    color: var(--mainCyan);
    margin-right: 10px;
    font-size: 1.5rem;
}
.social-icon i{
    font-size: 1rem;
    color: var(--mainWhite);
    border: 1px solid var(--mainCyan);
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.9s ease-in-out;
    text-align: center;
    padding: 11px;
}
.social-icon i:hover{
    color: var(--mainWhite);
    border: 1px solid var(--mainWhite);
    background: var(--mainCyan);
}
.nav-link{
    padding: 0px;
}
.form-control{
    background: transparent;
    border: 2px solid var(--mainCyan);
}
@media screen and (min-width: 992px){
    .hide{
        display: block;
        visibility: visible;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img .img-thumbnail{
        border-radius: 0!important;
    }
    .contact-form{
        padding: 0rem 5rem;
    }
}